<!doctype html>
<html>
    <head>
        <title>Project Showcase</title>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans:100,300,400,500,700,900,100i,300i,400i,500i,700i,900i" />
        <link rel="stylesheet" href="../css/materialize.min.css" />
        <link rel="stylesheet" href="../css/main.css" />
    </head>
    
    <body>
        <div class="container">
            <h1>Project Showcase</h1>
            <!-- separator -->
            <div class="separator">
                <div class="ball teal"></div>
                <div class="ball amber"></div>
                <div class="ball pink"></div>
            </div>
            
            <div class="row"></div>
            <div class="row"></div>
            
            <!-- categories -->
            <div class="row">
                
                <a class="category-link grey-text center-align col l3 m6 s12" href="automobile-electronics.html">
                    <div class="category-icon">
                        <i class="material-icons">directions_car</i>
                    </div>
                    <div class="category-title">Electronique Automobile</div>
                </a>
                
                <a class="category-link blue-text center-align col l3 m6 s12" href="medical-electronics.html">
                    <div class="category-icon">
                        <i class="material-icons">hotel</i>
                    </div>
                    <div class="category-title">Electronique médicale</div>
                </a>
                
                <a class="category-link deep-orange-text center-align col l3 m6 s12" href="embedded-systems.html">
                    <div class="category-icon">
                        <i class="material-icons">memory</i>
                    </div>
                    <div class="category-title">Systèmes embarqués</div>
                </a>
                
                <a class="category-link  deep-purple-text center-align col l3 m6 s12" href="robotic.html">
                    <div class="category-icon">
                        <i class="material-icons">traffic</i>
                    </div>
                    <div class="category-title">Robotique</div>
                </a>
                
                <a class="category-link  teal-text center-align col l3 m6 s12" href="domotic.html">
                    <div class="category-icon">
                        <i class="material-icons">home</i>
                    </div>
                    <div class="category-title">Domotique</div>
                </a>
                
                <a class="category-link pink-text center-align col l3 m6 s12" href="measure-transmission.html">
                    <div class="category-icon">
                        <i class="material-icons">network_check</i>
                    </div>
                    <div class="category-title">Mesure & Transmission</div>
                </a>
                
                <a class="category-link green-text center-align col l3 m6 s12" href="agriculture.html">
                    <div class="category-icon">
                        <i class="material-icons">spa</i>
                    </div>
                    <div class="category-title">Agriculture</div>
                </a>
                
                <a class="category-link brown-text center-align col l3 m6 s12" href="breeding.html">
                    <div class="category-icon">
                        <i class="material-icons">pets</i>
                    </div>
                    <div class="category-title">Elevage</div>
                </a>
                
                
                
            </div>
        </div>
        <div class="row"></div>
        
        <footer class="center-align">
            <div class="row">Copyright 2018</div>
        </footer>
    </boby>
</html>
