<!DOCTYPE html>
<html>
<head>
	<title>Project Showcase</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans:100,300,400,500,700,900,100i,300i,400i,500i,700i,900i" />
    <link rel="stylesheet" href="../css/materialize.min.css" />
    <!-- <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" type="text/css" href="../css/description.css"> -->
</head>
<body>
	<!-- <div>
		<nav>
		    <div class="nav-wrapper">
		      <a href="#!" class="brand-logo">Logo</a>
		      <ul class="right hide-on-med-and-down">
		        <li><a href="sass.html"><i class="material-icons left">search</i>Link with Left Icon</a></li>
		        <li><a href="badges.html"><i class="material-icons right">view_module</i>Link with Right Icon</a></li>
		      </ul>
		    </div>
 		 </nav>
	</div> -->
	<div class="row container">
		<h1>Project title</h1>

		<div class="row">
			<div class="col s7">
				<h3>Introduction</h3>
				In order to get us to deepen our knowledge about the use of the arduino module, we have been given some projects. Our job is to control access to a door with a password.
				<h4>Description</h4>

				<h6>Summary of the project</h6>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		
			<div class="col s5">
				<p >
					<img class="yin" src="../images/yo.jpeg" alt="Photos des auteurs" title="YO boy">
					<img class="yin" src="../images/yo.jpeg" alt="Photos des auteurs">
				</p>
				<p>@authors</p>
			</div>

			<div class="col s7">
				<h4>Résultas et perspectives</h4>

			</div>

			<div class="col s5">
				<h2 class="header">Snapshots</h2>
				<div class="card horizontal">
					<div class="card-image">
						<img src="../images/1.jpeg" src="screenshot">
					</div>
					<div class="card-stacked">
						<div class="card-content">
							<p>Commentaires ici</p>
						</div>
						<div class="card-action">
							<a href="#">Get the project file</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</body>
<!-- <footer class="page-footer">
          <div class="container">
            
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
      </footer> -->
</html>