<!DOCTYPE html>
<html>
<head>
	<title>Project Showcase</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans:100,300,400,500,700,900,100i,300i,400i,500i,700i,900i" />
    <link rel="stylesheet" href="../css/materialize.min.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" type="text/css" href="../css/description.css">
</head>
<body>
	<div class="bod">
		<h1>Project title</h1>
		<p >
			<img class="yin" src="../images/yo.jpeg" alt="Photos des auteurs">
			<img class="yin" src="../images/yo.jpeg" alt="Photos des auteurs">
		</p>
		<p>@authors</p>
		<h3>Introduction</h3>
		In order to get us to deepen our knowledge about the use of the arduino module, we have been given some projects. Our job is to control access to a door with a password.
		<h4>Description</h4>

		<h6>Summary of the project</h6>
		Le projet
		<h3>Snapshot</h3>
		<p>
			<img src="../images/1.jpeg" src="screenshot">
			<img src="../images/2.jpeg" src="screenshot">
			<img src="../images/3.jpeg" src="screenshot">
		</p>
	</div>
</body>
</html>