<!doctype html>
<html>
    <head>
        <title>Project Showcase</title>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans:100,300,400,500,700,900,100i,300i,400i,500i,700i,900i" />
        <link rel="stylesheet" href="../css/materialize.min.css" />
        <link rel="stylesheet" href="../css/main.css" />
    </head>
    
    <body>
        <div class="container">
            <h1>Project Showcase</h1>
            
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">
                <p class="flow-text grey-text">
                    <span class="">Une idée </span>
                    <i class="material-icons green-text tiny">fiber_manual_record</i> 
                    <span class="">Un projet</span>
                    <i class="material-icons orange-text tiny">fiber_manual_record</i>
                    <span class="">Un ingénieur</span>
                    <i class="material-icons pink-text tiny">fiber_manual_record</i>
                    <span class="">Une solution</span>
                </p>
                <p>
                    Consultez les projets d'élève-ingénieur. Découvrez leurs 
                    ingéniosité à solutionner les problèmes de tout les jours.
                </p>
            </div>
            <div class="row">
                <a class="btn amber grey-text text-darken-3" href="categories.html">Consulter</a>
            </div>
            <div class="row"></div>
            <div class="row">
                <div class="row">
                    <div class="col l6 m6 s12">
                        <div class="reference">
                            <span class="pin grey z-depth-1"></span>
                        </div>
                        <img class="responsive-img z-depth-2" src="../images/bg1.jpg" />
                    </div>
                    <div class="col l6 m6 s12">
                        <div class="reference">
                            <span class="pin grey z-depth-1"></span>
                        </div>
                        <img class="responsive-img z-depth-2" src="../images/bg2.jpg" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="flow-text grey-text center">
                    Vous avez une préoccupation, une idée de projet, une suggestion?
                </div>
                <div class="row"></div>
                <div class=" row center">
                    <h5 class="inline-block">Contact</h5>: 
                    <span class="keyword grey lighten-3 pink-text">epac.project@gmail.com</span>
                </div>
            </div>
        </div>
        <footer class="center-align">
            <div class="row">
                <div class="col l6 m6 s12">
                    Copyright 2018
                </div>
                <div class="col l6 m6 s12">
                    Ecole Polytechnique d'Abomey Calavi (EPAC)
                </div>
            </div>
        </footer>
    </boby>
</html>
