<!doctype html>
<html>
    <head>
        <title>Project Showcase</title>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans:100,300,400,500,700,900,100i,300i,400i,500i,700i,900i" />
        <link rel="stylesheet" href="../css/materialize.min.css" />
        <link rel="stylesheet" href="../css/main.css" />
    </head>
    
    <body>
        <div class="container">
            <h1>Project Showcase</h1>
            
            <div class="row">
                <p class="flow-text">
                    Une idée, un projet, un ingénieur, une solution
                </p>
                <p>
                    Consultez les projets d'élève-ingénieur. Découvrez leurs 
                    ingéniosité à solutionner les problèmes de tout les jours.
                </p>
            </div>
            <div class="row">
                <a class="btn grey" href="categories.html">Consulter</a>
            </div>
        </div>
        <footer class="center-align">
            Copyright 2018
        </footer>
    </boby>
</html>
