<!doctype html>
<html>
    <head>
        <title>Project Showcase</title>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans:100,300,400,500,700,900,100i,300i,400i,500i,700i,900i" />
        <link rel="stylesheet" href="../css/materialize.min.css" />
        <link rel="stylesheet" href="../css/main.css" />
    </head>
    
    <body>
        <div class="container">
            <h1>Project Showcase</h1>
            <!-- separator -->
            <div class="separator">
                <div class="ball teal"></div>
                <div class="ball amber"></div>
                <div class="ball pink"></div>
            </div>
            <div class="row"></div>
            <!-- post -->
          
            <div class="row reference shift-right">
                <div class="row"></div>
                <div class="sidebar hide-on-med-and-down"></div> <!-- side bar -->
                
                
                <!-- reference + ball -->
                <div class="reference"></div>
                <span class="level-ball amber z-depth-1 center grey-text text-darken-3 hide-on-med-and-down">
                    <i class="material-icons">book</i>
                </span>
                 <!-- end -->
                <h3>Project title</h3>
                <div class="row"></div>
                
                <div class="row center">
                    <div class="padding-10"><h5>Département de Génie Electrique, EPAC</h5></div>
                    <div class="row">
                        <div class="author-img col l6 m12 s12">
                            <img class="circle" src="../images/test.jpg" />
                            <div class="author-info center">
                                <span>Doe</span> <span>John</span>
                            </div>
                        </div>
                        <div class="author-img col l6 m12 s12">
                            <img class="circle" src="../images/test.jpg" />
                            <div class="author-info center">
                                <span>Poel</span> <span>Micheal</span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row"></div>
                <!-- reference + ball -->
                <div class="reference">
                    <div class="row"></div>
                    <span class="level-ball grey z-depth-1 center grey-text text-darken-3 hide-on-med-and-down">
                        <i class="material-icons">share</i>
                    </span>
                     <!-- end -->
                    <h3>Résumé</h3>
                    <div class="row"></div>
                    <div class="row description justify">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                </div>
                <!-- reference + ball -->
                <div class="reference">
                    <div class="row"></div>
                    <span class="level-ball grey z-depth-1 center grey-text text-darken-3 hide-on-med-and-down">
                        <i class="material-icons">insert_photo</i>
                    </span>
                     <!-- end -->
                    <h3>Snapshot</h3>
                    <div class="row"></div>
                    <div class="row">
                        <div class="col l6 m12 s12">
                            <div class="z-depth-1">
                                <img class="responsive-img" src="../images/img1.jpg" />
                                <div class="padding-5">Our comment on this photo</div>
                            </div>
                        </div>
                        
                        <div class="col l6 m12 s12">
                            <div class="z-depth-1">
                                <img class="responsive-img" src="../images/img1.jpg" />
                                <div class="padding-5">Our comment on this photo</div>
                            </div>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col l6 m12 s12">
                            <div class="z-depth-1">
                                <img class="responsive-img" src="../images/img1.jpg" />
                                <div class="padding-5">Our comment on this photo</div>
                            </div>
                        </div>
                        
                        <div class="col l6 m12 s12">
                            <div class="z-depth-1">
                                <img class="responsive-img" src="../images/img1.jpg" />
                                <div class="padding-5">Our comment on this photo</div>
                            </div>
                        </div>                        
                    </div>
                </div>
                
                <!-- reference + ball -->
                <div class="reference">
                    <div class="row"></div>
                    <span class="level-ball grey z-depth-1 center grey-text text-darken-3 hide-on-med-and-down">
                        <i class="material-icons">mic</i>
                    </span>
                     <!-- end -->
                    <h3>Résultats & Perspectives</h3>
                    <div class="row"></div>
                    <div class="row description justify">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                </div>
                
                <!-- reference + ball -->
                <div class="reference">
                    <div class="row"></div>
                    <span class="level-ball green z-depth-1 center grey-text text-darken-3 hide-on-med-and-down">
                        <i class="material-icons">group</i>
                    </span>
                     <!-- end -->
                    <h3>Partenariats</h3>
                    <div class="row"></div>
                    <div class="row description justify">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <h5>Mots clés</h5>
                    <div class="row">
                        <span class="keyword">Mot clé 1</span> 
                        <span class="keyword">Mot clé 2</span> 
                        <span class="keyword">Mot clé 3</span> 
                        <span class="keyword">Mot clé 4</span> 
                    </div>
                </div>
                <div class="row right">
                    <h5>Superviseur</h5>
                    <div class="row"> <span>Dr Jordan Flush</span></div>
                </div>                
            </div>
            
            
            <!-- end of post -->
            <div class="row"></div>
            <div class="divider"></div>
            <div class="row"></div>
            <div class="row" id="link">
              <a class="btn-floating btn-large waves-effect waves-light grey" title="Back" id="preview">
                <i class="material-icons  grey-text text-darken-3">reply</i>
              </a>
              <a class="btn-floating btn-large waves-effect waves-light grey" title="Acceuil" href="{{ site.url }}/index.html">
                <i class="material-icons  grey-text text-darken-4">home</i>
              </a>

              <a class="btn-floating btn-large waves-effect waves-light grey" title="Members">
                <i class="material-icons  grey-text text-darken-4">person</i>
              </a>
            </div>
        </div>
        <div class="row"></div>
        
        <footer class="center-align">
            <div class="row">Copyright 2018</div>
        </footer>
        <script src="../js/materialize.min.js"></script>
        <script>
        
        </script>
    </boby>
    <script>
    /* Go back in history */
    document.getElementById('preview').addEventListener("click", function(){
      window.history.back();
    });
  </script>
</html>
