<!doctype html>
<html>
    <head>
        <title>Project Showcase</title>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans:100,300,400,500,700,900,100i,300i,400i,500i,700i,900i" />
        <link rel="stylesheet" href="/css/materialize.min.css" />
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    
    <body>
        <div class="container">
            <h1>Project Showcase</h1>
            <!-- separator -->
            <div class="separator">
                <div class="ball teal"></div>
                <div class="ball amber"></div>
                <div class="ball pink"></div>
            </div>
            <div class="row"></div>
            <!-- post -->
          
            <div class="row reference shift-right">
                <div class="row"></div>
                <div class="sidebar hide-on-med-and-down"></div> <!-- side bar -->
                
                
                <!-- reference + ball -->
                <div class="reference"></div>
                <span class="level-ball amber z-depth-1 center grey-text text-darken-3 hide-on-med-and-down pulse">
                    <i class="material-icons">book</i>
                </span>
                 <!-- end -->
                <h3>{{ page.title }}</h3>
                <div class="row"></div>
                
                <div class="row center">
                    <div class="padding-10"><h5>{{ page.department }}, {{ page.school }}</h5></div>
                    <div class="row">
                        {% for author in page.authors %}
                        <div class="author-img col l6 m12 s12">
                            <img class="circle" src="{{ page.authors_img[forloop.index0] }}" />
                            <div class="author-info center">
                                <span> {{ author }} </span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                
                <div class="row"></div>
                <!-- reference + ball -->
                <div class="reference">
                    <div class="row"></div>
                    <span class="level-ball grey z-depth-1 center grey-text text-darken-3 hide-on-med-and-down">
                        <i class="material-icons">share</i>
                    </span>
                     <!-- end -->
                    <h3>Résumé</h3>
                    <div class="row"></div>
                    <div class="row description justify">
                    {{ page.section["summary"] | textilize }}
                    </div>
                </div>
                <!-- reference + ball -->
                <div class="reference">
                    <div class="row"></div>
                    <span class="level-ball grey z-depth-1 center grey-text text-darken-3 hide-on-med-and-down">
                        <i class="material-icons">insert_photo</i>
                    </span>
                     <!-- end -->
                    <h3>Snapshot</h3>
                    <div class="row"></div>
                    <div class="row">
                        {% for url in page.snapshot %}
                        <div class="col l6 m12 s12 marging-top-10">
                            <div class="z-depth-1">
                                <img class="responsive-img" src="/images/{{ url }}" />
                                <div class="padding-5">{{ page.snapcomment[forloop.index0] | capitalize }}</div>
                            </div>
                        </div>
                        {% endfor %}                  
                    </div>
                </div>
                
                <!-- reference + ball -->
                <div class="reference">
                    <div class="row"></div>
                    <span class="level-ball grey z-depth-1 center grey-text text-darken-3 hide-on-med-and-down">
                        <i class="material-icons">mic</i>
                    </span>
                     <!-- end -->
                    <h3>Résultats & Perspectives</h3>
                    <div class="row"></div>
                    <div class="row description justify">
                        {{ page.section["results"] | textilize }}
                    </div>
                </div>
                
                <!-- reference + ball -->
                <div class="reference">
                    <div class="row"></div>
                    <span class="level-ball green z-depth-1 center grey-text text-darken-3 hide-on-med-and-down">
                        <i class="material-icons">group</i>
                    </span>
                     <!-- end -->
                    <h3>Partenariats</h3>
                    <div class="row"></div>
                    <div class="row description justify">
                        {{ page.section["partners"] | textilize }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <h5>Mots clés</h5>
                    <div class="row">
                        {% for tag in page.tags %}
                            <span class="keyword"> {{ tag }} </span> 
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <h5>Superviseur</h5>
                    <div class="row"> <span>{{ page.supervisor }}</span></div>
                </div>                
            </div>
            
            
            <!-- end of post -->
            <div class="row"></div>
            <div class="divider"></div>
            <div class="row"></div>
            <div class="row" id="link">
              <a class="btn-floating btn-large waves-effect waves-light grey" title="Back" id="preview">
                <i class="material-icons  grey-text text-darken-3">reply</i>
              </a>
              <a class="btn-floating btn-large waves-effect waves-light grey" title="Acceuil" href="{{ site.url }}/index.html">
                <i class="material-icons  grey-text text-darken-4">home</i>
              </a>

              <a class="btn-floating btn-large waves-effect waves-light grey" title="Members">
                <i class="material-icons  grey-text text-darken-4">person</i>
              </a>
            </div>
        </div>
        <div class="row"></div>
        
        <footer class="center-align">
            <div class="row">Copyright 2018</div>
        </footer>
        <script src="../js/materialize.min.js"></script>
    </boby>
    <script>
    /* Go back in history */
    document.getElementById('preview').addEventListener("click", function(){
      window.history.back();
    });
  </script>
</html>
